.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
}
.pagination li {
    padding: 8px 16px;
    margin: 6px;
    cursor: pointer;
    background-color: #f8f8f9;
    color: #000;
}
.pagination li:hover {
    background-color: #000;
    color: #fff;
}
.active-pagination {
    background-color: #000 !important;
    color: #fff !important;
}